.flex {
    display: flex;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-container{
    width: 100%;
}

ul{
    display: flex;
    flex-direction: row;
    left : 100%;
}

li{
    margin: 10px;
    list-style-type: none;
}

table{
    border-collapse: collapse;
    border-spacing: 0px;
    width: 50%;
}

@media (max-width: 800px) {
    .flex-row {
      flex-direction: column;
    }
}